<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.jamp.ui.library.navigator.LibraryView"
            icon="icon/musicstore_48x48.png"
            id="org.jamp.library.view"
            name="Music"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.jamp.ui.library.navigator.LibraryContentProvider"
            icon="icon/playlist_16x16.png"
            id="org.jamp.library.navigatorcontent"
            labelProvider="org.jamp.ui.library.navigator.LibraryLabelProvider"
            name="navigator content"
            priority="normal">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.jamp.model.LibraryParent">
               </instanceof>
               <instanceof
                     value="org.jamp.ui.library.navigator.Root">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.jamp.model.LibraryParent">
               </instanceof>
               <instanceof
                     value="org.jamp.model.NodeObject">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.jamp.library.view">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="org.jamp.library.navigatorcontent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

</plugin>
