<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.jamp.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="org.jamp.ui.Perspective"
            id="org.jamp.ui.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.jamp.ui.application"
            name="JAmp">
         <property
               name="appName"
               value="JAmp">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  hoverIcon="icons/alt_window_16.gif"
                  icon="icons/alt_window_16.gif"
                  label="About"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/alt_window_16.gif"
                  label="Exit"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.jamp.ui.preferences.SamplePreferencePage2"
            id="org.jamp.ui.preferences.SamplePreferencePage2"
            name="Sample Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.jamp.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
