<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="org.jamp.ui.library">
      </category>
      <view
            name="Library View"
            icon="icons/sample.gif"
            class="org.jamp.ui.library.views.LibraryView"
            id="org.jamp.ui.library.views.LibraryView">
      </view>
      <view
            class="org.jamp.ui.library.views.PlayerView"
            icon="icons/sample.gif"
            id="org.jamp.ui.library.views.PlayerView"
            name="Player View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.jamp.ui.library.editor.MediaListEditor"
            default="false"
            icon="icons/sample.gif"
            id="org.jamp.ui.library.editor.MediaList"
            name="MediaList">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="play.command"
            name="Play">
      </command>
      <command
            id="pause.command"
            name="Pause">
      </command>
      <command
            id="stop.command"
            name="Stop">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="editMenu"
               label="Edit">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  id="preferences.command"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.jamp.ui.library.toolbar1">
            <command
                  commandId="play.command"
                  icon="icons/sample.gif"
                  id="Play"
                  style="push">
            </command>
            <command
                  commandId="pause.command"
                  icon="icons/sample.gif"
                  id="Pause"
                  style="push">
            </command>
            <command
                  commandId="stop.command"
                  icon="icons/test.GIF"
                  id="Stop"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="play.command"
            hoverIcon="icons/sample.gif"
            icon="icons/sample.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="isMediaObject">
         <with
               variable="activeContexts">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <equals
                     value="playEnabled.context">
               </equals>
            </iterate>
         </with>
      </definition>
      <definition
            id="isStoppable">
         <with
               variable="activeContexts">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <equals
                     value="stopEnabled.context">
               </equals>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jamp.ui.library.command.JampPlayCommand"
            commandId="play.command">
         <enabledWhen>
            <reference
                  definitionId="isMediaObject">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.jamp.ui.library.command.JampStopCommand"
            commandId="stop.command">
         <enabledWhen>
            <reference
                  definitionId="isStoppable">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.jamp.ui.library.command.JampPauseCommand"
            commandId="pause.command">
         <enabledWhen>
            <reference
                  definitionId="isMediaObject">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.jamp.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.jamp.ui.preferences.LibraryPreferencePage"
            id="org.jamp.ui.library.page3"
            name="Library">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Enable Play Button Context"
            id="playEnabled.context"
            name="playEnabled.context">
      </context>
      <context
            description="Enable Stop Button Context"
            id="stopEnabled.context"
            name="stopEnabled.context">
      </context>
      <context
            description="Enable Pause Button Context"
            id="enablePause.context"
            name="enablePause.context">
      </context>
   </extension>

</plugin>
