<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="org.jamp.ui.library">
      </category>
      <view
            name="Library View"
            icon="icons/sample.gif"
            class="org.jamp.ui.library.views.LibraryView"
            id="org.jamp.ui.library.views.LibraryView">
      </view>
      <view
            class="org.jamp.ui.library.views.PlayerView"
            icon="icons/sample.gif"
            id="org.jamp.ui.library.views.PlayerView"
            name="Player View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.jamp.ui.library.editor.MediaListEditor"
            default="false"
            icon="icons/sample.gif"
            id="org.jamp.ui.library.editor.MediaList"
            name="MediaList">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.jamp.ui.library.command.PlayCommandHandler"
            id="play.command"
            name="Play">
      </command>
      <command
            defaultHandler="org.jamp.ui.library.command.TestCommand"
            id="test.command"
            name="Test">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="my Test Menu"
               label="Test">
            <command
                  commandId="play.command"
                  label="CLOSE"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.jamp.ui.library.editor.MediaList">
         <command
               commandId="play.command"
               icon="icons/sample.gif"
               label="Play"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
